	.checkbox-inline, .radio-inline {
		position: relative;
		display: inline-block;
		padding-left: 20px;
		margin-bottom: 0;
		font-weight: 400;
		vertical-align: middle;
		cursor: pointer;
	}
	
	.inline-div {
		display:inline-block;
		max-width:50%;
	}
	
	.control-label{
		font-weight:700;
	}
	
	.scroll-to-top {
		position: fixed;
		right: 15px;
		bottom: 15px;
		display: none;
		width: 50px;
		height: 50px;
		text-align: center;
		color: #fff;
		background: rgba(52,58,64,.5);
		line-height: 45px;
	}

	.scroll-to-top:focus, .scroll-to-top:hover {
		color: #fff;
	}
	
	.h3, h3 {
		font-size: 1.5rem;
	}
	
	.modal-dialog {
		margin: 0.75rem auto;
	}